.button {
  max-width: 90vw;
  /* box-shadow: 0 5px 13px 0 rgba(0, 233, 186, 0.56); */
  padding: 10px 16px;
  cursor: pointer;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 100px;
  margin: 0 auto;
  background-color: white;
  font-family: Proxima Nova;
  font-size: 14px;
  font-weight: 500;
  color: #768c9a;
  border: solid 1px #00e9ba;
  animation: 0.3s ease-out 0s 1 buttonShow;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  font-weight: 600;
  position: relative;
}

.button-padding {
  padding-right: 40px;
}

.button:active {
  opacity: 0.6;
  transform: scale(0.97);
}

.icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  object-fit: contain;
  right: 10px;
}

.primary-button {
  background-color: #00e9ba;
  color: #ffffff;
}

@keyframes buttonShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
