.button {
  max-width: 80vw;
  /* box-shadow: 0 5px 13px 0 rgba(0, 233, 186, 0.56); */
  padding: 10px 20px;
  cursor: pointer;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 20px;
  margin: 0 auto;
  background-color: white;
  font-family: Proxima Nova;
  font-size: 16px;
  font-weight: 500;
  color: #768c9a;
  border: solid 1px #00e9ba;
  animation: 0.3s ease-out 0s 1 buttonShow;
}

.button:active {
  opacity: 0.6;
  transform: scale(0.97);
}

.icon {
  width: 24px;
  height: 24px;
  margin: -3px -14px -10px 10px;
  object-fit: contain;
  float: right;
}

@keyframes buttonShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
