.outerorb {
  position: relative;
  height: 160px;
  width: 160px;
  border-radius: 150px;
  background: #fff2d5;
  margin: 0 auto;
  margin-top: 80px;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 50px;
}

.orb {
  position: absolute;
  top: 55px;
  left: 55px;
  height: 50px;
  width: 50px;
  border-radius: 200px;
  background: #00e9ba;
  margin: 0 auto;
}
    
.orb_1 {
  animation-name:orb_1;
  animation-duration: 5s;
  animation-delay: 1.5s;
  animation-iteration-count:infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
    
@keyframes orb_1 {
  from { transform: scale(1); background: #207275;}
      to { transform: scale(3); background: #b5ebe0;}
}

.demo {
  position: absolute;
  top: -15px;
  left: -20px;
}

.progress {
  transform: rotate(-90deg);
}

.progress__meter,
.progress__value {
  fill: none;
}

.progress__meter {
  stroke: #e6e6e6;
}

.progress__value {
  stroke: #f77a52;
  stroke-linecap: round;
}